<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User manager
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Add new</a></li>
                            <li><a class="dropdown-item" href="#">Show list</a></li>
                            <li><a class="dropdown-item" href="#">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input  class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="card">
        <div class="card-header">
            Add new user
        </div>
        <div class="card-body">
            <form method="post" action="/books/store">
                <div class="mb-3">
                    <label class="form-label">MaSach</label>
                    <input type="text" class="form-control" id="MaSach" name="MaSach" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label class="form-label">TenSach</label>
                    <input type="text" class="form-control" name="TenSach" id="TenSach" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label class="form-label">TacGia</label>
                    <input type="text" class="form-control" name="TacGia" id="TacGia" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">MaTheLoai</label>
                    <select class="form-select" name="MaTheLoai" aria-label="Default select example">
                        <option value="TL01">Bí quyết Cuộc sống</option>
                        <option value="TL02">Sách Tin học</option>
                        <option value="TL03">Thể Thao, Du lịch</option>
                        <option value="TL04">Văn hóa, Nghệ thuật</option>
                        <option value="TL05">Sách Kinh doanh</option>
                        <option value="TL06">Sách Khuyến mại, Sách mới phát hành</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">MaNXB</label>
                    <select class="form-select" name="MaNXB" aria-label="Default select example">
                        <option value="NXB01">NXB Kim Đồng</option>
                        <option value="NXB02">NXB Trẻ</option>
                        <option value="NXB03">NXB Thăng Long</option>
                        <option value="NXB04">NXB Nhã Nam</option>
                        <option value="NXB05">NXB Giáo Dục</option>
                        <option value="NXB06">NXB Fahasa</option>
                        <option value="NXB07">NXB Phương Nam</option>
                        <option value="NXB08">NXB ĐH GTVT</option>
                        <option value="NXB09">NXB ĐH QGHN</option>
                        <option value="NXB010">NXB Thủ Đô</option>

                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">DonGiaBan</label>
                    <input type="text" class="form-control" name="DonGiaBan" id="DonGiaBan" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label class="form-label">SoLuong</label>
                    <input type="text" class="form-control" name="SoLuong" id="SoLuong" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label class="form-label">SoTrang</label>
                    <input type="text" class="form-control" name="SoTrang" id="SoTrang" aria-describedby="">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>